## Data and Setup

__Import numpy and pandas__

In [1]:
import numpy as np
import pandas as pd

__Import visualization libraries and set %matplotlib inline.__

In [2]:
%matplotlib inline

__Read in csv file as a dataframe called df__

In [3]:
df = pd.read_csv('data/911.csv')
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

__Check the info() of the df__

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 9 columns):
lat          99492 non-null float64
lng          99492 non-null float64
desc         99492 non-null object
zip          86637 non-null float64
title        99492 non-null object
timeStamp    99492 non-null object
twp          99449 non-null object
addr         98973 non-null object
e            99492 non-null int64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

__Check the head of df__

In [5]:
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

## Basic Questions

__What are the top 5 zipcodes for 911 calls?__

In [7]:
sorteddf = df.sort_values(by=['zip'], ascending=False)
sorteddf.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
67109,30.333596,-95.595595,8931; MONTGOMERY; Station 311; 2016-06-02 @ 1...,77316.0,EMS: CARDIAC EMERGENCY,2016-06-02 13:36:01,MONTGOMERY,8931,1
25715,32.387090,-86.276106,600 ; MONTGOMERY; 2016-02-12 @ 18:44:37;,36107.0,Traffic: DISABLED VEHICLE -,2016-02-12 18:47:01,MONTGOMERY,600,1
91947,40.295035,-75.581548,FAIRBROOK DR & LEIDY RD; NEW HANOVER; 2016-08-...,19525.0,Fire: CARBON MONOXIDE DETECTOR,2016-08-04 18:31:00,NEW HANOVER,FAIRBROOK DR & LEIDY RD,1
49809,40.310659,-75.539006,RENNINGER RD & BIG RD; NEW HANOVER; Station 3...,19525.0,EMS: FALL VICTIM,2016-04-16 23:37:00,NEW HANOVER,RENNINGER RD & BIG RD,1
16244,40.288105,-75.588739,BUCHERT RD & LEIDY RD; NEW HANOVER; Station 3...,19525.0,EMS: GENERAL WEAKNESS,2016-01-22 11:37:01,NEW HANOVER,BUCHERT RD & LEIDY RD,1

__What are the top 5 townships (twp) for 911 calls?__

__Take a look at the 'title' column, how many unique title codes are there?__

## Creating new features

__In the titles column there are "Reasons/Departments" specified before the title code. These are EMS, Fire, Traffic. Use .apply() with a custom lambda expression to create a new column called "Reason" taht containts this string value.__

__For example, if the title column value is EMS: BACK PAINS/INJURY, the Reason column value would be EMS.__

__What is the most common Reason for a 911 call based off of this new column?__

__Now use seaborn to create a countplot of 911 calls by Reason.__

__Now let us begin to focus on time information. What is the data type of the objects in the timeStamp column?__

__You should have seen that these timestamps are still strings. Use [pd.to_datetime](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html) to convert the column from strings to DateTime objects.__

__You can now grab specific attributes from a Datetime object by calling them. For example:__

    time = df['timeStamp'].iloc[0]
    time.hour
    
__You can use Jupyter's tab method to explore the various attributes you can call. Now that the timestamp column are actually DateTime objects, use .apply() to create 3 new columns called Hour, Month, and Day of Week. You will create these columns based off of the timeStamp column, reference the solutions if you get stuck on this step.__

__Notice how the Day of Week is an integer 0-6. Use the .map() with this dictionary to map the actual string names to the day of the week:__

    dmap = {0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}

__Now use seaborn to create a countplot of the Day of Week column with the hue based off of the Reason column.__

__Now do the same for Month:__

__Did you notice something strange about the Plot?__

__You should have noticed it was missing some Months, let's see if we can maybe fill in this information by plotting the information in another way, possibly a simple line plot that fills in the missing months, in order to do this, we'll need to do some work with pandas...__

__Now create a groupby object called by Month, where you group the DataFrame by the month column and use the count() method for aggregation. Use the head() method on this returned DataFrame.__

__Now create a simple plot off of the dataframe indicating the count of calls per month.__

__Now see if you can use seaborn's Implot() to create a linear fit on the number of calls per month. Keep in mind you may need to reset the index to a column.__

__Create a new column called 'Date' that contains the date from the timeStamp column. You'll need to use apply along with the .date() method.__

__Now groupby this Date column with the count() aggregate and create a plot of counts of 911 calls.__

__Now recreate this plot but create 3 separate plots with each plot representing a Reason for the 911 call__

__Now let's move on to creating heatmaps with seaborn and our data. We'll first need to restructure the dataframe so that the columns become the Hours and the Index becomes the Day of the Week. There are lots of ways to do this, but I would recommend trying to combine groupby with an [unstack](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.unstack.html) method. Reference the solutions if you get stuck on this!__

__Now create a HeatMap using this new DataFrame.__

__Now create a clustermap using this DataFrame.__

__Now repeat these same plots and operations, for a DataFrame that shows the Month as the column.__