__Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.__

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("./datasets/data/Ecommerce Purchases")

__Check the head of the DataFrame.__

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

__How many rows and columns are there?__

In [4]:
df.shape
columns = df.shape[1]
rows = df.shape[0]
print("total rows: {}".format(rows))
print("total columns: {}".format(columns))

total rows: 10000
total columns: 14

__What is the average Purchase Price?__

In [5]:
df.columns
df["Purchase Price"].mean()

50.347302

__What were the highest and lowest purchase prices?__

In [6]:
minimum_price = df["Purchase Price"].min()
maximum_price = df["Purchase Price"].max()
{ minimum_price, maximum_price }

{0.0, 99.99}

__How many people have English 'en' as their Language of choice on the website?__

In [7]:
data = df.query('Language == "en"')
len(data)

1098

__How many people have the job title of "Lawyer"?__

In [8]:
len(df[df["Job"] == "Lawyer"])

30

__How many people made the purchase during the AM and how many people made the purchase during PM?__
<br>
__(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html))__

In [9]:
df["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

__What are the 5 most common Job Titles?__

In [16]:
df["Job"].value_counts().nlargest()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

__Someone made a purchase that came from Lot: "90 WT", what was the Purchase Price for this transaction?"__

In [11]:
df[df["Lot"] == "90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

__What is the email of the person with the following Credit Card Number: 4926535242672853__

In [18]:
df[df["Credit Card"] == 4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

__How many people have American Express as their Credit Card Provider _and_ made a purchase above $95 ?__

In [17]:
len(df[(df["CC Provider"] == "American Express") & (df["Purchase Price"] > 95)])

39

__Hard: How many people have a credit card taht expires in 2025?__

In [14]:
df["CC Exp Date"].str.contains("/25").value_counts()[1]

1033

__Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)__

In [15]:
df["Email"].str.replace(".*@", "").value_counts().nlargest()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64