**Buat fungsi keliling silinder**
<p>Fungsi keliling silinder: $$2πrh+2πr^2$$</p>

In [4]:
def vol(rad, height):
    return 2*(3.14)*rad*height + 2*(3.14)*(rad**2)

In [5]:
# check
vol(2, 12)

175.84

**Buat fungsi python yang menghitung jumlah huruf besar dan kecil.**

    Sample String : 'Python menyenangkan! Saya suka belajar Python'
    Output : 
    Huruf besar : 3
    Huruf kecil : 36

In [11]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("Huruf besar : ", d["upper"])
    print("Huruf kecil : ", d["lower"])

In [12]:
s = 'Python menyenangkan! Saya suka belajar Python'
up_low(s)

Original String :  Python menyenangkan! Saya suka belajar Python
Huruf besar :  3
Huruf kecil :  36

**Buat fungsi Python untuk menjadikan list jadi unik.**

    Sample List : daftar_kota = [
    "Jakarta",
    "Jakarta",
    "Jakarta",
    "Bogor",
    "Bogor",
    "Bogor",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Semarang",
    "Semarang",
    "Medan",
    "Pontianak",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Jakarta",
    "Jakarta",
    "Bali",
    "Bali",
    "Bali",
    "Makassar",
    "Makassar",
    "Bandung",
    "Bandung"]
    
    Unique List : ['Bali','Bandung','Bogor','Jakarta','Makassar','Medan','Pontianak','Semarang','Surabaya']

In [19]:
def unique_list(lst):
    return list(set(lst))

In [16]:
daftar_kota = [
    "Jakarta",
    "Jakarta",
    "Jakarta",
    "Bogor",
    "Bogor",
    "Bogor",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Semarang",
    "Semarang",
    "Medan",
    "Pontianak",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Jakarta",
    "Jakarta",
    "Bali",
    "Bali",
    "Bali",
    "Makassar",
    "Makassar",
    "Bandung",
    "Bandung",
]

In [18]:
unique_list(daftar_kota)

['Makassar',
 'Jakarta',
 'Semarang',
 'Surabaya',
 'Bali',
 'Bogor',
 'Pontianak',
 'Medan',
 'Bandung']

**Buat fungsi untuk mengecek palindrome.**

Note: palindrom adalah kata, fasa yang dibolak balik tetap sama, madam or nurses run.

In [34]:
def palindrome(s):
    
    s = s.replace(' ','') 
    return s == s[::-1]

In [35]:
palindrome('racecar')

True

In [37]:
palindrome('nurses run')

True

**Buat fungsi untuk mengalikan semua element list.**

    Sample List : [1, 2, 3, -4]
    Output : -24

In [22]:
from functools import reduce

def sum_multi(lst): return reduce((lambda x,y: x*y),lst)

#### SUMMER OF '69: Return jumlahnya, skip 6 sampai 9. Return 0 jika tidak ada angka.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [30]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            # the first while, process before 6
            if num != 6:
                total += num
                break
                
            else:
                # process after above 6, pass it to the second while
                add = False
        while not add: # process after above 6, will keep adding 
            if num != 9:
                break
            else:
                # process after above 9, back to the first while
                add = True
                break
    return total

In [33]:
summer_69([1, 3, 5])

9

In [32]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [31]:
summer_69([2, 1, 6, 9, 11])

14