__STRING__

In [1]:
s ='hello'
# Reverse the string menggunakan slicing

Gunakan 2 metode untuk dapatkan huruf o

In [2]:
s ='hello'

# Method 1:

'o'

In [3]:
# Method 2:

'o'

__LIST__

Buat list [10,10,10] dengan 2 metode

In [4]:
# Method 1:

[10, 10, 10]

In [5]:
# Method 2:

[10, 10, 10]

Reassign 'jakarta' dalam nested list dengan 'bandung'

In [6]:
list3 = [1,4,[200,[20,30,50,"jakarta"]]]

In [8]:
list3

[1, 4, [200, [20, 30, 50, 'bandung']]]

__DICTIONARIES__

Menggunakan keys and indexing, ambil harga Handphone super

In [9]:
dict1 = \
{   
    "metadata": [
        {
            "perusahaan": {
                "nama": "Setiabudi",
                "cabang": "Setiabudi cabang Jakarta",
                "lokasi": [
                    {
                        "koordinat1": (-10.3207013, 80.5809298),
                        "koordinat2": (20.3207013, 120.5809298)
                    }
                ]
            },
            "income": {
                "this year": 15505863,
                "average": 8230250,
            },
            "barang": [
                {
                    "name": "Handphone super",
                    "harga": 800,
                    "stock": 1000
                },
                {
                    "name": "Laptop super",
                    "harga": 1000,
                    "stock": 2000 
                }
            ]
        }
    ]
}

800

__SET__

Ada berapa kota dalam sini? 
Tampilkan kota-kotanya.

In [11]:
daftar_kota = [
    "Jakarta",
    "Jakarta",
    "Jakarta",
    "Bogor",
    "Bogor",
    "Bogor",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Semarang",
    "Semarang",
    "Medan",
    "Pontianak",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Jakarta",
    "Jakarta",
    "Bali",
    "Bali",
    "Bali",
    "Makassar",
    "Makassar",
    "Bandung",
    "Bandung",
]