**Buat fungsi keliling silinder**
<p>Fungsi keliling silinder: $$2πrh+2πr^2$$</p>

In [10]:
import math
def vol(rad, height):
    return 2*math.pi*rad*height + 2*math.pi*rad**2

In [11]:
# check
vol(2, 12)

175.92918860102841

**Buat fungsi python yang menghitung jumlah huruf besar dan kecil.**

    Sample String : 'Python menyenangkan! Saya suka belajar Python'
    Output : 
    Huruf besar : 3
    Huruf kecil : 36

In [15]:
def up_low(s):
    huruf_besar = 0
    huruf_kecil = 0
    for c in s:
        if c.isupper():
            huruf_besar+=1
        else:
            huruf_kecil+=1
    print("Huruf besar : %d" % huruf_besar)
    print("Huruf kecil : %d" % huruf_kecil)

In [16]:
s = 'Python menyenangkan! Saya suka belajar Python'
print(s)
up_low(s)

Python menyenangkan! Saya suka belajar Python
Huruf besar : 3
Huruf kecil : 42

**Buat fungsi Python untuk menjadikan list jadi unik.**

    Sample List : daftar_kota = [
    "Jakarta",
    "Jakarta",
    "Jakarta",
    "Bogor",
    "Bogor",
    "Bogor",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Semarang",
    "Semarang",
    "Medan",
    "Pontianak",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Jakarta",
    "Jakarta",
    "Bali",
    "Bali",
    "Bali",
    "Makassar",
    "Makassar",
    "Bandung",
    "Bandung"]
    
    Unique List : ['Bali','Bandung','Bogor','Jakarta','Makassar','Medan','Pontianak','Semarang','Surabaya']

In [21]:
def unique_list(lst):
    return list(set(lst))

In [22]:
daftar_kota = [
    "Jakarta",
    "Jakarta",
    "Jakarta",
    "Bogor",
    "Bogor",
    "Bogor",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Bandung",
    "Semarang",
    "Semarang",
    "Medan",
    "Pontianak",
    "Jakarta",
    "Jakarta",
    "Bandung",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Surabaya",
    "Jakarta",
    "Jakarta",
    "Bali",
    "Bali",
    "Bali",
    "Makassar",
    "Makassar",
    "Bandung",
    "Bandung",
]

In [23]:
unique_list(daftar_kota)

['Bali',
 'Medan',
 'Semarang',
 'Pontianak',
 'Bandung',
 'Surabaya',
 'Makassar',
 'Bogor',
 'Jakarta']

**Buat fungsi untuk mengecek palindrome.**

Note: palindrom adalah kata, fasa yang dibolak balik tetap sama, madam or nurses run.

In [27]:
def palindrome(s):
    def pal_rec(s, start, end):
        if start == end:
            return True
        if s[start] != s[end]:
            return False
        if start < end+1:
            return pal_rec(s, start+1, end-1)
        return True
    st = s.replace(' ', '')
    if len(st) == 0:
        return False
    return pal_rec(st, 0, len(st)-1)

In [28]:
palindrome('racecar')

True

In [29]:
palindrome('nurses run')

True

**Buat fungsi untuk mengalikan semua element list.**

    Sample List : [1, 2, 3, -4]
    Output : -24

In [30]:
from functools import reduce

def sum_multi(lst):
    return reduce(lambda a, b: a*b, lst)

print(sum_multi([1, 2, 3, -4]))

-24

#### SUMMER OF '69: Return jumlahnya, skip 6 sampai 9. Return 0 jika tidak ada angka.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [31]:
def summer_69(arr):
    result = 0
    for l in arr:
        if l >= 6 and l <= 9:
            continue
        result += l
    return result

In [32]:
summer_69([1, 3, 5])

9

In [33]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [34]:
summer_69([2, 1, 6, 9, 11])

14