## Recap

In [1]:
mydict = {"A":2,"B":3}
mydict

{'A': 2, 'B': 3}

In [2]:
result = {"entry":[{"alamat":"Jalan Mendung nomor 5","umur":40},{"score":80}],"keterangan":"LULUS"}
result

{'entry': [{'alamat': 'Jalan Mendung nomor 5', 'umur': 40}, {'score': 80}],
 'keterangan': 'LULUS'}

In [3]:
result['keterangan']

'LULUS'

In [4]:
result['entry'][0]['alamat']

'Jalan Mendung nomor 5'

In [5]:
result['entry'][0]['umur']

40

In [6]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [7]:
listoflist = [1,["A","B","C",[200,300,400]]]
listoflist

[1, ['A', 'B', 'C', [200, 300, 400]]]

In [8]:
listoflist[1][3][2]

400

In [9]:
mytup = (1,"s","A")
mytup

(1, 's', 'A')

## String and Casting

In [10]:
mystring = "Hello my name is Joseph"

In [11]:
mystring.split()

['Hello', 'my', 'name', 'is', 'Joseph']

In [12]:
print(mystring)

Hello my name is Joseph

In [13]:
print("Hello my name is {} and age is {}".format("Joseph",23))

Hello my name is Joseph and age is 23

In [14]:
name = 40
age = "david"

In [15]:
print(f"Hello my name is {name} and age {age}")

Hello my name is 40 and age david

In [16]:
result = 10/255
result

0.0392156862745098

In [17]:
print("Result is {:.2f}".format(result))

Result is 0.04

In [18]:
mynumber = "25"

In [19]:
mynumber

'25'

In [20]:
type(mynumber)

str

In [21]:
number = int(mynumber)
number

25

In [22]:
type(number)

int

## OPERATIONS

In [23]:
2 + 2

4

In [24]:
"a" + "bcde"

'abcde'

In [25]:
"a"*100

'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

In [26]:
2 / 2

1.0

In [27]:
2 / 5

0.4

In [28]:
2 // 5

0

In [29]:
2 // 2

1

In [30]:
6 % 2

0

In [31]:
6 % 4

2

In [32]:
10 * 2

20

In [33]:
10 ** 2

100

In [34]:
10 - 2

8

__BOOLEAN OPERATIONS__

In [35]:
True

True

In [36]:
False

False

In [37]:
None

In [38]:
True == False

False

In [39]:
True == True

True

In [40]:
a = None
a

In [41]:
2 == 3

False

In [42]:
2 != 3

True

In [43]:
2 > 3

False

In [44]:
2 <= 3

True

In [45]:
myfruits = ['apple','banana','orange']
myfruits

['apple', 'banana', 'orange']

In [46]:
'mango' in myfruits

False

In [47]:
'apple' in myfruits

True

__CONDITIONAL__

In [48]:
if True:
    print("It was true!!")

It was true!!

In [49]:
loc = 'Library'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the Bank!')
else:
    print('Where are you?')

Where are you?

__ITERATION__

In [50]:
hewan = ["gajah","kucing","sapi"]
for n in hewan:
    print(n)

gajah
kucing
sapi

In [51]:
hewan = ["gajah","kucing","sapi"]
for n in hewan:
    print(n.upper())

GAJAH
KUCING
SAPI

In [52]:
range(0,5)

range(0, 5)

In [53]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [54]:
[*range(0,5)]

[0, 1, 2, 3, 4]

In [55]:
nilai = {"Anton":50, "Budi":80, "Kevin":60, "Michael":40}
nilai

{'Anton': 50, 'Budi': 80, 'Kevin': 60, 'Michael': 40}

In [56]:
for n in nilai.values():
    print(n)

50
80
60
40

In [57]:
nilai_tup = [("Anton",50),("Budi",80),("Kevin",60),("Michael",40)]
nilai_tup

[('Anton', 50), ('Budi', 80), ('Kevin', 60), ('Michael', 40)]

In [58]:
for nama,nilai in nilai_tup:
    print("Nama: {}, Nilai: {}".format(nama,nilai))

Nama: Anton, Nilai: 50
Nama: Budi, Nilai: 80
Nama: Kevin, Nilai: 60
Nama: Michael, Nilai: 40

In [59]:
nilai = 50

if nilai < 60:
    print("Indeks: C")
elif nilai < 80:
    print("Indeks: B")
elif nilai < 100:
    print("Indeks: A")
elif nilai == 100:
    print("Indeks: S")
else:
    print("Ketinggian scorenya!")

Indeks: C

In [60]:
for nama,nilai in nilai_tup:
    if nilai < 60:
        indeks = "C"
    elif nilai < 80:
        indeks = "B"
    elif nilai < 100:
        indeks = "A"
    elif nilai == 100:
        indeks = "S"
    else:
        indeks = "Ketinggian"
    print("Name: {}, Indeks: {}".format(nama,indeks))

Name: Anton, Indeks: C
Name: Budi, Indeks: A
Name: Kevin, Indeks: B
Name: Michael, Indeks: C

__Comphrehension__

In [61]:
results = []
for x in range(5):
    y = x ** 2
    results.append(y)

In [62]:
results

[0, 1, 4, 9, 16]

In [63]:
[x ** 2 for x in range(5)]

[0, 1, 4, 9, 16]

In [64]:
{x + 10 for x in range(10)}

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [65]:
mobil = ["Mercedes","BMW","Jaguar"]
nama = ["Anton","Budi","Indra"]

In [66]:
zip(mobil,nama)

In [67]:
list(zip(mobil,nama))

[('Mercedes', 'Anton'), ('BMW', 'Budi'), ('Jaguar', 'Indra')]

In [68]:
{k: v for k,v in zip(nama,mobil)}

{'Anton': 'Mercedes', 'Budi': 'BMW', 'Indra': 'Jaguar'}

## Fungsi

In [69]:
def fungsi():
    pass

In [70]:
def fungsi():
    """
    test fungsi
    """

In [71]:
def fungsi():
    return "Hello"

In [72]:
fungsi

In [73]:
fungsi()

'Hello'

In [74]:
def kuadrat(x):
    y = x ** 2
    return y

In [75]:
kuadrat(2)

4

In [76]:
def kuadrat(x):
    return x ** 2

In [77]:
kuadrat(5)

25

In [78]:
def kuadrat(x): return x ** 2

In [79]:
kuadrat(10)

100

In [80]:
f = lambda x: x ** 2

In [81]:
f(2)

4

In [82]:
angka = [1,2,3,4]

__MAP__

In [83]:
map(lambda x: x**2, angka)

In [84]:
list(map(lambda x: x**2, angka))

[1, 4, 9, 16]

__FILTER__

In [85]:
Umur = [20,30,50,50,60,20]
list(filter(lambda x: x < 30, Umur))

[20, 20]

__REDUCE__

In [86]:
produk = 0
besar = [200,300,400,500]
for b in besar:
    produk = produk + b

In [87]:
produk

1400

In [88]:
produk = 0
besar = [200,300,400,500]
for b in besar:
    produk += b # --< produk = produk + b
print(produk)

1400

In [89]:
from functools import reduce

In [90]:
reduce((lambda x, y: x + y), besar)

1400

In [91]:
def fungsi_prima(num):
    for n in range(2,num):
        if num % n == 0:
            print(num, 'is not prime')
            break
    else:
        print(num, 'is prime!')

In [92]:
fungsi_prima(16)

16 is not prime

In [93]:
fungsi_prima(17)

17 is prime!

In [94]:
import math
def is_prime2(num):
    '''
    Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2:
        return False
    for i in range(3, int(math.sqrt(num) + 1), 2):
        if num % i == 0:
            return False
    return True

In [95]:
is_prime2(6)

False